
@use '../../global' as *;
@use '../../partials' as *;
.sidebar {
    padding: size(10) size(0);
    position: sticky;
    top: size(76);
}
.sidebarlist{
@include list-vertical;
gap: size(5);
&-item {

}
&-link {
    color:$gray-900 ;
    display: block;
    padding: size(10) size(0);
    @include transitionsall;
    padding-left: size(20);
    @include flex;
    align-items: center;
    gap: size(20);
    svg{
       path{
        @include transitionsall;
       }
    }
    @include hover {
        @include setBgColor($primary,$white);
        svg{
            path{
                fill: $white;
            }
        }
    }
    
}
}