@use '../../global' as *;
@use '../../partials' as *;
.footer {
    @include setBgColor($white,$copyrightText);
    text-align: center;
    padding: size(8) size(0);
    @include font($primaryFont,12,medium,normal,18);
    @include breakpoint (tab992) {
        padding-left: size(200);
        @include font($primaryFont,14,medium,normal,18);
    }

}