@use '../../global' as *;
@use '../../partials' as *;
.total-card{
    padding: size(20) size(0) size(20) size(20);
    min-width: 150px;
    transition: all .4s ease-in-out;
    @include hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .card-icon{
        @include square(42);
        background: $cardIcon-1;
        @include circle;
        @include flex-center;
       
        
        svg{
        }
    }
    .card-icon-2{
        background: $cardIcon-2;
    }
    .card-icon-3{
        background: $cardIcon-2;
    }
    .card-icon-4{
        background: $cardIcon-4;
    }
    .card-icon-5{
        background: $cardIcon-5;
    }
    .card-icon-6{
        background: $cardIcon-6;
    }
    .total-title{
        @include font($primaryFont,14,medium,normal,20);
        color: $gray-600;
    }
    .total-number{
        @include font($primaryFont,24,medium,normal,28);
        color: $gray-800;
    }
}

.comment-cards {
    @include flex-column;
    gap: size(10);
    .comment-card {
        padding: size(20);
        @include border(solid,1,$gray-400);
        @include radius (10);
        &-header {
            @include flex;
            gap:size(4);
            align-items: center;
            .comment-image {
                @include square (30);
                @include circle;
               
                img {
                    @include wh100;
                    @include circle;
                    
                }
            }
        }
        &-body {
            padding-left: size(30);
        }
    }
}