// THEME COLORS
$primary: #3898FC; // #F0C1B6
$bodyBg:#F5F6F8;
$secondary: hsl(26, 36%, 84%); //#E4D3C6
$tertiary: hsl(44, 88%, 69%); // #F6D16C


// TEXT COLORS
$menuBlack: hsl(0, 0%, 27%); //#454545
$btnText: hsl(120, 7%, 29%); //#444F44
$textDark: #27272E; //#333333
$textDark2: #425466;
$tableText:#8492A6;
$tableText2:#4B4B4C;
$copyrightText:#B7B7B7;

$buttonText: hsl(87, 20%, 28%); //#4A573A
$textGray: hsl(0, 12%, 71%); //#BEACAC
$textPlaceholder: hsl(0, 0%, 49%); //#7C7C7C
$linkText: hsl(0, 0%, 59%); //#969696
$danger: hsl(0, 49%, 52%); //#C14949
$gray-900:#1A202C;
$gray-800:#2D3748;
$gray-700:#4A5568;
$gray-600:#718096;
$gray-500:#A0AEC0;
$gray-400:#CBD5E0;
$gray-300: #E2E8F0;
$gray-50:#FAFAFA;

// BACKGROUND COLORS
$sectionBg: hsl(330, 12%, 97%); //#F8F6F7
$green: hsl(166, 14%, 64%); //#95AFA9
$grayBg: hsl(0, 0%, 85%); //#D9D9D9
$cardIcon-6:#E7ECFE;
$cardIcon-5:#E7ECFE;
$cardIcon-4:#F1FAF1;
$cardIcon-3:#CBE8E4;
$cardIcon-2:#F4F2FE;
$cardIcon-1:#F1FAF1;

$tableHeader:#FAFAFB;


// BORDER COLORS
$searchBorder: #90A0B7; 


// NORMAL COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// BOX-SHADOWS
$boxshadow-1: inset 0 .3125rem .3125rem rgba($black, 0.1);
$boxshadow-2: 0 .25rem .25rem rgba($black, 0.1);
$dropshadow: drop-shadow(0 .3125rem .3125rem rgba($black, 0.1));