@use '../global' as *;
@use '../partials' as *;


.channels {
    padding: size(20) size(0);
    @include breakpoint (tab992) {
        padding: size(36) size(0);
    }
    
    &-content {
        @include flex-column;
        gap:size(18);
    }
    &-header {
        @include flex-center-between;
        .header-title {
            color: $gray-800;
            @include font($primaryFont,20,bold,normal,26);
        }
    }
    &-body {

    }
}