@use '../global' as *;
@use '../partials' as *;

.main {
    .sidebar{
        background-color: $white;
        height: calc(100vh - 110px);
        width: size(270);
        &-header {
            padding: size(20) size(0);
            .logo {
                display: block;
                text-align: center;
                img {
                    display: inline-block;
                }
            }
        }
    }
    .main-info{
        @include w100;
        @include breakpoint(tab992){
            width: calc(100% - 280px);
            padding-left: size(14);
            padding-top: size(20);
        }


        .welcome{
            background: url(../../assets/images/welcome.png) no-repeat;
            margin: size(20) size(0);
            min-height: size(105);
            @include w100;
            padding: size(10);
            
            @include breakpoint(tab992) {
                // background-position: center center;
            }

            &-title {
                color: $white;
                @include font($primaryFont,18,semibold,normal,24);
                @include breakpoint (tab992){
                    @include font($primaryFont,20,semibold,normal,24);
                }
            }
            &-text {
                color: $gray-400;
                @include font($primaryFont,14,medium,normal,20);
                padding-top: size(10);
                @include breakpoint (tab992){
                    @include font($primaryFont,16,medium,normal,20);
                }
            }
        }
        // Congratulation and subscriber part
        .congratulation-sub {
            .congratulation{
                background-color: red;
                background: url(../../assets/images/congratulation.svg) no-repeat;
                height: 100%;
                min-height: size(300);
                background-size: cover;
                background-position: center center;
                padding: size(30) size(30);
                @include breakpoint(tab992) {
                    padding: size(60) size(40);
                }
                &-title{
                    color: $gray-800;
                    @include font($primaryFont,26,semibold,normal,32);
                    @include breakpoint (desktop1200){
                        @include font($primaryFont,36,semibold,normal,42);
                    }
                    span{
                        color: $gray-600;
                        @include font($primaryFont,20,semibold,normal,26);
                        @include breakpoint (desktop1200){
                            @include font($primaryFont,28,semibold,normal,34);
                        }
                    }
                }
            }
        }

        .recent-subscriber {
            background-color:$white;
            padding:size(14);
            &-content {
                @include flex-column;
                gap: size(20);
            }
            &-header {
                .recent-title {
                    color: $gray-800;
                    @include font($primaryFont,18,bold,normal,24);
                    @include breakpoint (desktop1200){
                        @include font($primaryFont,20,bold,normal,24);
                    }
                }
            }
            &-body {

            }
        }

        // view-comment
        .view-comment {
            padding: size(14) size(0);
            .view {
                background: $white;
                @include h100;
                @include radius(6);
            }
            // latest comment
            .latest-comment {
                background-color: $white;
                @include h100;
                padding: size(10);
                @include radius(6);
                &-content {
                    @include flex-column;
                    gap: size(20);
                    .latest-title{
                        color: $gray-800;
                        @include font($primaryFont,18,bold,normal,24);
                        @include breakpoint (desktop1200){
                            @include font($primaryFont,20,bold,normal,24);
                        }
                    }
                }
                &-header {

                }
                &-body {

                }
            }
        }
        // popular and latest videos 
        .videos {
            margin: size(14) size(0);
            &-content {
                @include flex-column;
                gap: size(24);
                background: $white;
                padding: size(14) size(14);
                @include radius(6);
            }
            &-header {
                @include flex-center-between;
                .videos-title {
                    color: $gray-800;
                    @include font($primaryFont,18,bold,normal,24);
                    @include breakpoint (desktop1200){
                        @include font($primaryFont,20,bold,normal,24);
                    }
                }
            }
            &-body {
                @include flex-column;
                gap: size(24);
                .video-des {
                    @include flex-center-between;
                    padding: size(10) size(30);
                    color: $gray-700;
                    @include border(solid,1,$gray-300);    
                    @include radius(10);
                    min-height: size(60);
                    @include font($primaryFont,16,semibold,normal,20);
                }

                .videolist {

                }
            }
        }
    }
}