@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/**=====================================================**
                ANIMATION-STYLES
=======================================================**/
@keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes slideDownInMobile {
  0% {
    -webkit-transform: translateY(-1.25rem);
    -moz-transform: translateY(-1.25rem);
    -ms-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem);
  }
  100% {
    -webkit-transform: translateY(0.625rem);
    -moz-transform: translateY(0.625rem);
    -ms-transform: translateY(0.625rem);
    transform: translateY(0.625rem);
  }
  0% {
    -webkit-transform: translateY(-1.25rem);
    -moz-transform: translateY(-1.25rem);
    -ms-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem);
  }
}
@keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(-1.25rem);
    -moz-transform: translateY(-1.25rem);
    -ms-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(1.25rem);
    -moz-transform: translateY(1.25rem);
    -ms-transform: translateY(1.25rem);
    transform: translateY(1.25rem);
  }
}
@keyframes slideUpInMobile {
  0% {
    -webkit-transform: translateY(2.5rem);
    -moz-transform: translateY(2.5rem);
    -ms-transform: translateY(2.5rem);
    transform: translateY(2.5rem);
  }
  100% {
    -webkit-transform: translateY(1.5625rem);
    -moz-transform: translateY(1.5625rem);
    -ms-transform: translateY(1.5625rem);
    transform: translateY(1.5625rem);
  }
  0% {
    -webkit-transform: translateY(2.5rem);
    -moz-transform: translateY(2.5rem);
    -ms-transform: translateY(2.5rem);
    transform: translateY(2.5rem);
  }
}
@keyframes slideLeftIn {
  0% {
    -webkit-transform: translateX(6.25rem);
    -moz-transform: translateX(6.25rem);
    -ms-transform: translateX(6.25rem);
    transform: translateX(6.25rem);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(-6.25rem);
    -moz-transform: translateX(-6.25rem);
    -ms-transform: translateX(-6.25rem);
    transform: translateX(-6.25rem);
  }
}
@keyframes slideRightIn {
  0% {
    -webkit-transform: translateX(6.25rem);
    -moz-transform: translateX(6.25rem);
    -ms-transform: translateX(6.25rem);
    transform: translateX(6.25rem);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(6.25rem);
    -moz-transform: translateX(6.25rem);
    -ms-transform: translateX(6.25rem);
    transform: translateX(6.25rem);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(1%);
    -moz-transform: translateY(1%);
    -ms-transform: translateY(1%);
    transform: translateY(1%);
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
/**=====================================================**
                BREAKPOINT-VARIABLES
=======================================================**/
/**=====================================================**
                BREAKPOINT-FUNCTIONS
=======================================================**/
/**=====================================================**
                    BREAKPOINT-MIXIN
=======================================================**/
/**=====================================================**
                    BREAKPOINT-USAGE
=======================================================**/
html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html:focus-within {
  scroll-behavior: inherit;
}

* {
  box-sizing: inherit;
}
*::before, *::after {
  box-sizing: inherit;
}

body {
  background: #F5F6F8;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

input, select, textarea {
  border: none;
}
input:focus, select:focus, textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}
input[type=search]::-webkit-search-decoration:focus,
input[type=search]::-webkit-search-cancel-button:focus,
input[type=search]::-webkit-search-results-button:focus,
input[type=search]::-webkit-search-results-decoration:focus {
  outline: none;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:focus::before,
input[type=date]:valid::before {
  display: none;
}

img {
  max-width: 100%;
  display: block;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

figure, picture, p, ul, ol {
  margin: 0;
}

footer {
  margin-top: auto;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  border: none;
  background: transparent;
  border: none;
  opacity: 1;
  margin: 0;
  padding: 0;
}
button:focus,
[type=button]:focus,
[type=reset]:focus,
[type=submit]:focus {
  box-shadow: none;
  outline: none;
}

.live-btn {
  padding: 0.625rem 1.875rem;
  display: inline-block;
  border: solid 0.0625rem #CBD5E0;
  background: transparent;
  color: #4A5568;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.7142857143;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media screen and (min-width: 68.75rem) {
  .live-btn {
    padding: 0.625rem 2.5rem;
  }
}
@media screen and (min-width: 75rem) {
  .live-btn {
    padding: 0.625rem 3.125rem;
  }
}
.live-btn:not([disabled]):hover {
  background: #e6e6e6;
  color: #4A5568;
}

.upload-btn {
  padding: 0.625rem 1.875rem;
  display: inline-block;
  border: solid 0.0625rem #3898FC;
  background: #3898FC;
  color: hsl(0deg, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.7142857143;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media screen and (min-width: 68.75rem) {
  .upload-btn {
    padding: 0.625rem 2.5rem;
  }
}
@media screen and (min-width: 75rem) {
  .upload-btn {
    padding: 0.625rem 3.125rem;
  }
}
.upload-btn:not([disabled]):hover {
  background: #067efb;
  color: hsl(0deg, 0%, 100%);
}

.live-btn-mobile {
  padding: 0.25rem;
}
@media screen and (min-width: 48rem) {
  .live-btn-mobile {
    padding: 0.5rem;
  }
  .live-btn-mobile svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .live-btn-mobile:not([disabled]):hover svg path {
    background: black;
    color: hsl(0deg, 0%, 100%);
  }
}

.upload-btn-mobile {
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.0625rem;
  -webkit-border-radius: 0.0625rem;
  -moz-border-radius: 0.0625rem;
  -ms-border-radius: 0.0625rem;
  -o-border-radius: 0.0625rem;
  border-radius: 0.0625rem;
}
@media screen and (min-width: 48rem) {
  .upload-btn-mobile {
    padding: 0.5rem;
  }
  .upload-btn-mobile svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.create-btn {
  padding: 0.625rem 0.625rem;
  display: inline-block;
  border: solid 0.0625rem #CBD5E0;
  background: transparent;
  color: #4A5568;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.7142857143;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media screen and (min-width: 62rem) {
  .create-btn {
    padding: 0.625rem 1.25rem;
  }
}
@media screen and (min-width: 68.75rem) {
  .create-btn {
    padding: 0.625rem 2.5rem;
  }
}
@media screen and (min-width: 75rem) {
  .create-btn {
    padding: 0.625rem 3.125rem;
  }
}
.create-btn:not([disabled]):hover {
  background: #e6e6e6;
  color: #4A5568;
}

.total-card {
  padding: 1.25rem 0rem 1.25rem 1.25rem;
  min-width: 150px;
  transition: all 0.4s ease-in-out;
}
.total-card:not([disabled]):hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.total-card .card-icon {
  width: 2.625rem;
  height: 2.625rem;
  background: #F1FAF1;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-card .card-icon-2 {
  background: #F4F2FE;
}
.total-card .card-icon-3 {
  background: #F4F2FE;
}
.total-card .card-icon-4 {
  background: #F1FAF1;
}
.total-card .card-icon-5 {
  background: #E7ECFE;
}
.total-card .card-icon-6 {
  background: #E7ECFE;
}
.total-card .total-title {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4285714286;
  color: #718096;
}
.total-card .total-number {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1666666667;
  color: #2D3748;
}

.comment-cards {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.comment-cards .comment-card {
  padding: 1.25rem;
  border: solid 0.0625rem #CBD5E0;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  border-radius: 0.625rem;
}
.comment-cards .comment-card-header {
  display: flex;
  gap: 0.375rem;
  align-items: center;
}
.comment-cards .comment-card-header .comment-image {
  width: 1.875rem;
  height: 1.875rem;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.comment-cards .comment-card-header .comment-image img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.comment-cards .comment-card-header .name {
  color: #425466;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.25;
}
.comment-cards .comment-card-header .time {
  color: #A0AEC0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
}
.comment-cards .comment-card-body {
  padding-left: 1.875rem;
}
.comment-cards .comment-card-body .comment-text {
  color: #2D3748;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4285714286;
}

.header {
  border-bottom: 1px solid rgba(56, 152, 252, 0.2);
  padding: 0.625rem 0.625rem;
}
@media screen and (min-width: 48rem) {
  .header {
    padding: 0.625rem 2rem;
    background-color: #FAFAFA;
    background: #F5F6F8;
    background-color: red;
  }
}
@media screen and (min-width: 22.5rem) {
  .header {
    background-color: #F5F6F8;
  }
}
@media screen and (min-width: 62rem) {
  .header {
    padding: 0.625rem 3rem;
  }
}
.header-nav .logo {
  width: 12.5rem;
}
.header-nav .logo h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1428571429;
  padding-left: 1.5rem;
}
@media screen and (min-width: 62rem) {
  .header-nav .logo h3 {
    padding-left: 0rem;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.125;
  }
}
.header .searchgroup {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0.5rem 0rem;
}
.header .searchgroup-input {
  width: 100%;
  background: #FAFAFA;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  padding: 0.625rem 1rem;
  padding-left: 1.875rem;
  border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  -ms-border-radius: 0.125rem;
  -o-border-radius: 0.125rem;
  border-radius: 0.125rem;
  color: #111;
  border: solid 0.0625rem #90A0B7;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media screen and (min-width: 62rem) {
  .header .searchgroup-input {
    width: 21.25rem;
  }
}
@media screen and (min-width: 62rem) {
  .header .searchgroup-input {
    padding-left: 2.5rem;
  }
}
.header .searchgroup-input:focus, .header .searchgroup-input:hover {
  outline: none;
  border-color: #3898FC;
}
.header .searchgroup-input::placeholder {
  color: #A0AEC0;
}
.header .searchgroup-icon {
  position: absolute;
  left: 0.625rem;
  width: 1.25rem;
  height: 1.25rem;
}

.user-image {
  width: 1.875rem;
  height: 1.875rem;
}
@media screen and (min-width: 48rem) {
  .user-image {
    width: 2.1875rem;
    height: 2.1875rem;
  }
}
@media screen and (min-width: 62rem) {
  .user-image {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 64rem) {
  .user-image {
    width: 3.125rem;
    height: 3.125rem;
  }
}
@media screen and (min-width: 68.75rem) {
  .user-image {
    width: 3.125rem;
    height: 3.125rem;
  }
}
.user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.footer {
  background: hsl(0deg, 0%, 100%);
  color: #B7B7B7;
  text-align: center;
  padding: 0.5rem 0rem;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}
@media screen and (min-width: 62rem) {
  .footer {
    padding-left: 12.5rem;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2857142857;
  }
}

.commentinput {
  border-radius: 0.9375rem;
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  -ms-border-radius: 0.9375rem;
  -o-border-radius: 0.9375rem;
  border-radius: 0.9375rem;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4285714286;
  letter-spacing: 0.0025rem;
  width: 100%;
  padding: 0.875rem 1rem;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.commentinput::placeholder {
  color: hsl(0deg, 0%, 49%);
}
.commentinput:focus {
  border-color: #3898FC;
}

.offcanvas.offcanvas-start {
  border-right: 0;
  width: 17.5rem;
}
.offcanvas-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offcanvas-header .logo {
  width: 6.25rem;
  height: 6.25rem;
}
.offcanvas-header .btn-close {
  border-radius: 0rem;
  -webkit-border-radius: 0rem;
  -moz-border-radius: 0rem;
  -ms-border-radius: 0rem;
  -o-border-radius: 0rem;
  border-radius: 0rem;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.offcanvas-header .btn-close svg {
  width: 100%;
  height: 100%;
}
.offcanvas-header .btn-close:not([disabled]):hover {
  opacity: 1;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.offcanvas-body .mobilelist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}
.offcanvas-body .mobilelist-item {
  width: 100%;
}
.offcanvas-body .mobilelist-link {
  position: relative;
  display: block;
  color: hsl(0deg, 0%, 27%);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  overflow: hidden;
  width: 100%;
  padding: 0.625rem;
}
.offcanvas-body .mobilelist-link:before, .offcanvas-body .mobilelist-link:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: hsl(0deg, 0%, 0%);
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}
.offcanvas-body .mobilelist-link:before {
  bottom: 0;
  -webkit-transform: translateX(-105%);
  -moz-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  transform: translateX(-105%);
}
.offcanvas-body .mobilelist-link:after {
  top: 0;
  -webkit-transform: translateX(105%);
  -moz-transform: translateX(105%);
  -ms-transform: translateX(105%);
  transform: translateX(105%);
}
.offcanvas-body .mobilelist-link:not([disabled]):hover {
  background: #3898FC;
  color: hsl(0deg, 0%, 100%);
}
.offcanvas-body .mobilelist-link:not([disabled]):hover svg path {
  fill: hsl(0deg, 0%, 100%);
}
.offcanvas-body .mobilelist-link:not([disabled]):hover::before, .offcanvas-body .mobilelist-link:not([disabled]):hover::after {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.offcanvas-body::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;
}
.offcanvas-body::-webkit-scrollbar-thumb {
  background: #0358b2;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.sidebar {
  padding: 0.625rem 0rem;
  position: sticky;
  top: 4.75rem;
}
.sidebarlist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.sidebarlist-link {
  color: #1A202C;
  display: block;
  padding: 0.625rem 0rem;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.sidebarlist-link svg path {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.sidebarlist-link:not([disabled]):hover {
  background: #3898FC;
  color: hsl(0deg, 0%, 100%);
}
.sidebarlist-link:not([disabled]):hover svg path {
  fill: hsl(0deg, 0%, 100%);
}

.select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.select-wrapper .select {
  position: relative;
}
.select-wrapper .select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2.5rem;
  overflow: hidden;
}
.select-wrapper .select-trigger .selectedvalue {
  color: hsl(0deg, 0%, 0%);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4285714286;
}
.select-wrapper .select-trigger .arrow {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.select-wrapper .select-trigger .arrow svg {
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}
.select-wrapper .select .custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
  background: hsl(0deg, 0%, 100%);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  overflow-y: scroll;
  max-height: 15rem;
}
.select-wrapper .select .custom-options::-webkit-scrollbar {
  background: transparent;
  width: 0.25rem;
}
.select-wrapper .select .custom-options::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 85%);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.select-wrapper .select .custom-options .custom-option {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 0.5rem;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #2D3748;
}
.select-wrapper .select .custom-options .custom-option:hover {
  cursor: pointer;
  background: #d7dbe3;
  color: #2D3748;
}
.select-wrapper .select .custom-options .custom-option.selected {
  background: #d7dbe3;
  color: #2D3748;
}
.select-wrapper .select.open .select-trigger .arrow svg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select-wrapper .select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.subscriber-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.subscriber-list-item {
  border: solid 0.0625rem #CBD5E0;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  border-radius: 0.625rem;
  padding: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.subscriber-list-item .subscriber {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.subscriber-list-item .subscriber-image {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
@media screen and (min-width: 62rem) {
  .subscriber-list-item .subscriber-image {
    width: 1.875rem;
    height: 1.875rem;
  }
}
.subscriber-list-item .subscriber-image img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.subscriber-list-item .subscriber-name {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2857142857;
  color: #27272E;
}
@media screen and (min-width: 62rem) {
  .subscriber-list-item .subscriber-name {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.125;
  }
}
.subscriber-list-item .time {
  color: #A0AEC0;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4285714286;
}

.videolist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.videolist-item {
  border: solid 0.0625rem #E2E8F0;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  border-radius: 0.625rem;
}
.videolist-item .single-video {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 1.875rem;
  color: #718096;
  -webkit-transition: background 300ms ease-in-out;
  -moz-transition: background 300ms ease-in-out;
  -ms-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.videolist-item .single-video:not([disabled]):hover {
  background-color: #f8f9fa;
}
.videolist-item .single-video .video-info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.videolist-item .single-video .video-info .thumb-image {
  width: 5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.videolist-item .single-video .video-info .thumb-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.videolist-item .single-video .video-info .video-name {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4285714286;
}
.view .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
@media screen and (min-width: 25.875rem) {
  .view .nav {
    gap: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
.view .nav-link {
  padding: 1.25rem 0rem;
  color: #718096;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4285714286;
}
.view .nav-tabs .nav-link.active {
  border-bottom: solid 0.1875rem #3898FC;
  color: #3898FC;
  background: transparent;
}
.view .nav-tabs .nav-link {
  border: none;
}
.view .nav-tabs {
  border: none;
}
.view .tab-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
@media screen and (min-width: 25.875rem) {
  .view .tab-items {
    gap: 1.25rem;
  }
}

select {
  border: solid 0.0324604375rem #E2E8F0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  padding: 0.125rem 0.25rem;
}

.analytics-tab .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
@media screen and (min-width: 25.875rem) {
  .analytics-tab .nav {
    gap: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
.analytics-tab .tab-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
@media screen and (min-width: 25.875rem) {
  .analytics-tab .tab-items {
    gap: 1.25rem;
  }
}
.analytics-tab .nav-tabs .nav-link {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  gap: 1.875rem;
}
.analytics-tab .nav-tabs .nav-link .views {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.analytics-tab .nav-tabs .nav-link .views .view-title {
  color: #718096;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4285714286;
}
.analytics-tab .nav-tabs .nav-link .views .view-count {
  color: #2D3748;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.3;
}
table.table tr:first-child {
  background-color: red;
}
table.table tr th {
  padding: 1rem 0.75rem;
  vertical-align: middle;
  min-width: 10rem;
  background-color: #FAFAFB;
  color: #8492A6;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.3333333333;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  box-shadow: inset 0px -1px 0px #EDF2F7;
}
table.table tr th:first-child {
  width: 30px;
  min-width: 10px;
  padding: 0;
}
table.table tr th:last-child {
  min-width: 3.75rem;
}
table.table tr td {
  border-color: #EDF2F7;
  vertical-align: middle;
  background-color: hsl(0deg, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4285714286;
  padding: 1.25rem 0.75rem;
  color: #718096;
}
table.table tr td:nth-child(2) {
  min-width: 200px;
  padding: 0;
}
table.table tr td:nth-child(2) a {
  display: flex;
  align-items: center;
  color: #4B4B4C;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6666666667;
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  width: 50px;
}

.customcheck {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customcheck-box:checked ~ .customcheck-label::before {
  background: #3898FC;
  border-color: #3898FC;
}
.customcheck-box:checked ~ .customcheck-label::after {
  opacity: 1;
  visibility: visible;
}
.customcheck-label {
  position: relative;
  color: #3898FC;
  font: inherit;
  padding-left: 1rem;
  cursor: pointer;
}
.customcheck-label::before, .customcheck-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
}
.customcheck-label::before {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: solid 0.0625rem #BCB3E2;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.customcheck-label::after {
  width: 0.3125rem;
  height: 0.625rem;
  border: solid 0.125rem hsl(0deg, 0%, 100%);
  border-top: 0;
  border-left: 0;
  left: 0.4375rem;
  -webkit-transform: translateY(-70%) rotate(45deg);
  -moz-transform: translateY(-70%) rotate(45deg);
  -ms-transform: translateY(-70%) rotate(45deg);
  transform: translateY(-70%) rotate(45deg);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.customcheck-label::selection {
  background: transparent;
  color: tan;
}

.main .sidebar {
  background-color: hsl(0deg, 0%, 100%);
  height: calc(100vh - 110px);
  width: 16.875rem;
}
.main .sidebar-header {
  padding: 1.25rem 0rem;
}
.main .sidebar-header .logo {
  display: block;
  text-align: center;
}
.main .sidebar-header .logo img {
  display: inline-block;
}
.main .main-info {
  width: 100%;
}
@media screen and (min-width: 62rem) {
  .main .main-info {
    width: calc(100% - 280px);
    padding-left: 0.875rem;
    padding-top: 1.25rem;
  }
}
.main .main-info .welcome {
  background: url(../../assets/images/welcome.png) no-repeat;
  margin: 1.25rem 0rem;
  min-height: 6.5625rem;
  width: 100%;
  padding: 0.625rem;
}
.main .main-info .welcome-title {
  color: hsl(0deg, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.3333333333;
}
@media screen and (min-width: 62rem) {
  .main .main-info .welcome-title {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2;
  }
}
.main .main-info .welcome-text {
  color: #CBD5E0;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4285714286;
  padding-top: 0.625rem;
}
@media screen and (min-width: 62rem) {
  .main .main-info .welcome-text {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.25;
  }
}
.main .main-info .congratulation-sub .congratulation {
  background-color: red;
  background: url(../../assets/images/congratulation.svg) no-repeat;
  height: 100%;
  min-height: 18.75rem;
  background-size: cover;
  background-position: center center;
  padding: 1.875rem 1.875rem;
}
@media screen and (min-width: 62rem) {
  .main .main-info .congratulation-sub .congratulation {
    padding: 3.75rem 2.5rem;
  }
}
.main .main-info .congratulation-sub .congratulation-title {
  color: #2D3748;
  font-family: "Inter", sans-serif;
  font-size: 1.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2307692308;
}
@media screen and (min-width: 75rem) {
  .main .main-info .congratulation-sub .congratulation-title {
    font-family: "Inter", sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.1666666667;
  }
}
.main .main-info .congratulation-sub .congratulation-title span {
  color: #718096;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.3;
}
@media screen and (min-width: 75rem) {
  .main .main-info .congratulation-sub .congratulation-title span {
    font-family: "Inter", sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2142857143;
  }
}
.main .main-info .recent-subscriber {
  background-color: hsl(0deg, 0%, 100%);
  padding: 0.875rem;
}
.main .main-info .recent-subscriber-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.main .main-info .recent-subscriber-header .recent-title {
  color: #2D3748;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3333333333;
}
@media screen and (min-width: 75rem) {
  .main .main-info .recent-subscriber-header .recent-title {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
  }
}
.main .main-info .view-comment {
  padding: 0.875rem 0rem;
}
.main .main-info .view-comment .view {
  background: hsl(0deg, 0%, 100%);
  height: 100%;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
}
.main .main-info .view-comment .latest-comment {
  background-color: hsl(0deg, 0%, 100%);
  height: 100%;
  padding: 0.625rem;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
}
.main .main-info .view-comment .latest-comment-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.main .main-info .view-comment .latest-comment-content .latest-title {
  color: #2D3748;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3333333333;
}
@media screen and (min-width: 75rem) {
  .main .main-info .view-comment .latest-comment-content .latest-title {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
  }
}
.main .main-info .videos {
  margin: 0.875rem 0rem;
}
.main .main-info .videos-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: hsl(0deg, 0%, 100%);
  padding: 0.875rem 0.875rem;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
}
.main .main-info .videos-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.main .main-info .videos-header .videos-title {
  color: #2D3748;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3333333333;
}
@media screen and (min-width: 75rem) {
  .main .main-info .videos-header .videos-title {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
  }
}
.main .main-info .videos-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main .main-info .videos-body .video-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.875rem;
  color: #4A5568;
  border: solid 0.0625rem #E2E8F0;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  border-radius: 0.625rem;
  min-height: 3.75rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.25;
}
.channels {
  padding: 1.25rem 0rem;
}
@media screen and (min-width: 62rem) {
  .channels {
    padding: 2.25rem 0rem;
  }
}
.channels-content {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
.channels-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.channels-header .header-title {
  color: #2D3748;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
}
.analytics {
  padding: 1.25rem 0rem;
}
@media screen and (min-width: 62rem) {
  .analytics {
    padding: 2.25rem 0rem;
  }
}
.analytics-content {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
.analytics-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.analytics-header .header-title {
  color: #2D3748;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
}
.mahfil-container {
  margin-inline: auto;
  width: 100%;
}
@media screen and (min-width: 36rem) {
  .mahfil-container {
    max-width: 33.75rem;
  }
}
@media screen and (min-width: 48rem) {
  .mahfil-container {
    max-width: 45rem;
  }
}
@media screen and (min-width: 62rem) {
  .mahfil-container {
    max-width: 60rem;
  }
}

.container-fluid {
  max-width: 1440px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */