@use '../global' as *;
@use '../partials' as *;

.mahfil-container {
  margin-inline: auto;
  @include w100;

  @include breakpoint(mobile576) {
    max-width: size(540);
  }

  @include breakpoint(mobile768) {
    max-width: size(720);
  }

  @include breakpoint(tab992) {
    max-width: size(960);
  }
}

.container-fluid {
  max-width: 1440px;
  margin: auto;
}