@use '../../global' as *;
@use '../../partials' as *;


.subscriber-list {
    @include list-vertical;
    gap: size(7);
    &-item {
        @include border (solid,1,$gray-400);
        @include radius(10);
        padding: size(14);
        @include flex-center-between;
        .subscriber{
            @include flex-center;
            gap: size(6);

            &-image{
                @include square(24);
                @include circle;
                @include breakpoint (tab992){
                    @include square(30);
                }
                img{
                    @include wh100;
                    @include circle;

                }
            }
            &-name{
                @include font($primaryFont,12,semibold,normal,18);
                color: $textDark;
                @include breakpoint(tab992) {
                    @include font($primaryFont,14,semibold,normal,18);
                }
            }
        }
        .time{
            color: $gray-500;
            @include font($primaryFont,14,medium,normal,20);
        }
    }
}
