@use '../../global' as *;
@use '../../partials' as *;

.offcanvas {

  &.offcanvas-start {
    border-right: 0;
    width: size(280);
  }

  &-header {
    .logo {
      width: size(110);
    }

    .btn-close {
      @include radius(0);
      @include transitionsall;
      padding: 0;
      margin: 0;
      @include square(16);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }

      @include hover {
        opacity: 1;
        @include rotate(180);

        svg {
          path {
            // stroke: rgba($white, .8);
          }
        }
      }
    }
  }

  &-body {
    
    .mobilelist {
      @include list-vertical;
      align-items: flex-start;
      gap: size(8);
      @include w100;

      &-link {
        position: relative;
        display: inline-block;
        color: $menuBlack;
        @include font($primaryFont, 16, medium, normal, 24);
        overflow: hidden;
        @include w100;
        padding-top: length(2);
        padding-bottom: length(2);

        &:before, &:after {
          content: '';
          position: absolute;
          left: 0;
          @include w100;
          height: size(2);
          background: $black;
          @include transitiontransform;
        }

        &:before {
          bottom: 0;
          @include translateX(-105%);
        }

        &:after {
          top: 0;
          @include translateX(105%);
        }

        @include hover {
          color: $black;

          &::before,
          &::after {
            @include translateX(0);
          }
        }
      }
    }


		&::-webkit-scrollbar {
			background: transparent;
			width: size(8);
		}

		&::-webkit-scrollbar-thumb {
			background: darken($primary, 25%);
      @include radius(8);
		}

  }
}