@use '../../global' as *;
@use '../../partials' as *;

.view {
    .nav {
   
        @include flex-between;
        padding-left: size(10);
        padding-right: size(10);
       
        @include breakpoint(mobile414) {
            gap: size(20);
            padding-left: size(20);
            padding-right: size(20);
        }
    }
    .nav-link {
        padding: size(20) size(0);
        color: $gray-600;
        @include font($primaryFont,14,medium,normal,20);
    }
    .nav-tabs .nav-link.active {
        @include border-single(bottom,solid,3,$primary);
        color: $primary;
        background: transparent;
    }
    
    .nav-tabs .nav-link { 
        border: none;
    }
    .nav-tabs {
       border: none;
    }
    
    .tab-items {
        @include list-horizontal;
        gap: size(10);
        @include breakpoint(mobile414) {
            gap: size(20);
        }
    
    }
}

select {
   @include border(solid,0.519367,$gray-300);
   @include radius(16);
   padding: size(2) size(4);
}

.analytics-tab {
    .nav {
   
        @include flex-between;
        padding-left: size(10);
        padding-right: size(10);
       
        @include breakpoint(mobile414) {
            gap: size(20);
            padding-left: size(20);
            padding-right: size(20);
        }
    }
    .nav-tabs {
       border: 0;
       padding: 0;
    }

    .tab-items {
        @include list-horizontal;
        gap: size(0);
        @include breakpoint(mobile414) {
            gap: size(20);
        }
    
    }
    .nav-tabs .nav-link { 
        border: none;
        @include flex-between;
        padding: size(20);
        gap:size(30);
        @include radius(0);
        .views {
            @include flex-column;
            text-align: left;
            .view-title {
                color: $gray-600;
                @include font($primaryFont,14,medium,normal,20);
            }
            .view-count {
                color: $gray-800;
                @include font($primaryFont,20,semibold,normal,26);
            }
        }
        .icon {

        }
    }
    .nav-tabs .nav-link.active {
        @include border-single(top,solid,3,$primary);
        color: $primary;
        background: $white;
    }
    .tab-content {
        background-color: $white;
    }
}