@use '../../global' as *;
@use '../../partials' as *;

.header{
    border-bottom: 1px solid rgba(56, 152, 252, 0.2);
    padding:size(10) size(10);
    @include breakpoint (mobile768) {
    padding:size(10) size(32);
    background-color: $gray-50;
    
      
    }
    @include breakpoint (tab992) {
        padding:size(10) size(48);

    }
    &-nav {
        // hambyrger
        .logo{
            // background-color: $tertiary;
            width: size(200);
            h3{
                @include font($primaryFont,28,medium,normal,32);
                padding-left: size(24);
                @include breakpoint(tab992) {
                    padding-left: size(0);
                    @include font($primaryFont,32,medium,normal,36);
                }
            }
        }
        // desktop search
        .desktop-search{
            

        }
  
    }
    .searchgroup {
        @include flex-center-vert;
        @include w100;
        position: relative;
        padding: size(8) size(0);

        &-input {
            width: 100%;
            background: $gray-50;
            font-weight: bold;
            @include breakpoint (tab992){
                width: size(340);
            }
            @include font($primaryFont, 14, medium, normal, 14);
            padding: size(10) size(16);
            padding-left: size(30);
            @include radius(2);
            color: #111;
            @include border (solid,1,$searchBorder);
            @include transitionsall;
            @include breakpoint(tab992){
                padding-left: size(40);
            }

            &:focus,
            &:hover {
                outline: none;
                border-color:$primary;
            }

            &::placeholder {
                color: $gray-500;
            }
        }

        &-icon {
            position: absolute;
            left: size(10);
            @include square(20);

        }
    }
}

.user-image{
    @include square(30);
    @include breakpoint(mobile768) {
        @include square(35);
    }
    @include breakpoint(tab992) {
        @include square(40);
    }
    @include breakpoint(desktop1024) {
        @include square(50);
    }
    @include breakpoint(desktop1100) {
        @include square(50);
    }
    img{
        @include wh100;
        object-fit: cover;
        @include circle;
    }
}
